.row{
  width:100%;
  max-width:960px; 
  /* for desktop view */
  margin:0 auto;
  outline: 1px solid blue; 
  /* to visualize our element */
  
}

/* clearfix set against the row class  for conviance */
.row:before,.row:after {content: " ";display: table;}
.row:after {clear: both;}


.grid{
  height:20px;
  /* to visualize */
  float:left;
  margin:1%;
  outline:1px solid red;
  /* to visualize */
}

.m-grid-1{
  width:23%;
}

@media (min-width:960px){
  .d-grid-1{width:10.5%;}
}