/*

ALL CSS FOR 2.3 USING PERCENTAGES IN CSS IS INCLUDED BELOW.


Legend:

1 -- 2.3.1 Using containers
2 -- 2.3.2 Wholes, halves, and quarters
3 -- 2.4 Adding text and images
4 -- 2.4.1 Scalable images
5 -- 2.5  Your first breakpoint


*/

/* 
  1 -- 2.3.1 Using containers 
*/

.container{
  width:240px;
  margin:0 auto;
  display:block;
}


/*
  
  2 -- 2.3.2 Wholes, halves, and quarters

*/
*.main{
  width:100%;
  padding:10px 0;
}

header.main{background:#4d4d4d; height:16px;}
aside.main{background:#e4e4e4;}

h1#logo{
  width:50%;
  height:20px;
  display:block;
  float:left;
  background:url(images/logo.jpg) no-repeat top left;
  background-size:100%;
  text-indent:-99999px;
}

.social{
  width:50%;
  display:block;
  float:left;
}

.icon{
  width:25px;
  height:20px;
  display:block;
  float:right;
  margin:0 10px 0 0;
  text-indent:-99999px;
}

.icon.facebook{background:url(images/facebook.jpg) no-repeat top right;}
.icon.twitter{background:url(images/twitter.jpg) no-repeat top right;}


nav{
  width:100%; 
}

nav a{
  display:block;
  float:left;
  width:25%;
  text-align:center;
  text-decoration: none;
  color:#333;
}


.ads figure{
  width:50%;
  display:block;
  float:left;
  padding-top:10px;
}

.ads figure img{
  display:block;
  margin:0 auto;
}

/*
  3 -- 2.4 Adding text and images
*/
article h1{
  font-size: 1.5em;
}

/*
  4 -- 2.4.1 Scalable images
*/

.masthead{
  width:100%;
  padding-bottom:10px;
}

figure{
  width:100%;
}

figure img{
  width:100%;
  max-width:1000px;
  height:auto;
  display:block;
  margin:0 auto;
}

/*

  5 -- 2.5  Your first breakpoint

*/

@media only screen and (min-width: 600px){
  .container{
    width:600px;
  }
}


/*

  Included below is a standard CSS reset.  For more infomation
  visit: http://meyerweb.com/eric/tools/css/reset/ 


*/




/*       */
/* RESET */
/*       */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: 0;
  box-shadow: none; }

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

pre, code, kbd, samp {
  font-family: "bello-pro"; }

a {
  color: #297fcf; }

a:visited {
  color: #2165a4; }

a:hover {
  color: #4f98dc; }

a:focus {
  outline: thin dotted;
  color: #4f98dc; }

a:hover, a:active {
  outline: 0; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    outline: 1px solid red;
    width: 100%; } }
